body {
    font-size: 0.9em;
}
.header {
    text-align: center;
    border-bottom: thin solid #999;
}

.topic, .description {
    text-align: center;
}

.container {
    width: 840px;
    margin: 0 auto;
}
.directions {
    margin-top: 36px;
    font-style: italic;
    font-size: 1em;
}
.error {
    color: red;
    display: none;
}
input[type=submit] {
    float: right;
}
.answers ul {
    list-style: none;
    padding-left: 0px;
}
.answer {
    margin-bottom: 12px;
}
.answer-text {
    display: block;
    margin-left: 24px;
}
.correct-answer {
    display: none;
}
input[type=radio] {
    float: left;
}
.quiz-over, .question-results {
    display: none;
}
